.icon-style {
  margin-right: 6px;
  margin-bottom: 5px;
}
.back-button a {
  text-decoration: none !important;
  display: inline-block;
}

.back-button {
  width: 140px;
  height: 36px;
  background-color: var(--bg-components);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-decoration: none;
  color: var(--bs-body-color);
}
.delete-button {
  position: relative;
  margin-right: 1rem !important;
  border: none;
  background-color: var(--bg-all);
  color: var(--bs-body-color);
  border-radius: 50% !important;

  font-size: 12px;
  font-weight: 800;
  width: 0.9rem;
}

.back-button a {
  text-decoration: none;
  color: inherit;
}
.container-fluid .dark-mode-button {
  place-items: center;
  width: 6.5rem;
  height: 3rem;
  background-color: var(--bg-components);
  border: none;
  font-weight: 600;
  font-size: medium;
  color: var(--bs-body-color);
}

@media only screen and (max-width: 767px) {
  .back-button {
    width: 6.2rem;
    margin-left: 2.2rem;
    margin-top: 2.5rem;
  }
  .back-button-container {
    margin-left: 0rem !important;
  }
}
